#root {
  max-width: 1450px;
  margin: 0 auto;
  
 
}

.customShadow{
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}

/**user table*/
.userTable {
  @apply bg-white 
}

.userTable th{
  @apply border text-base font-medium
}

.userTable td{
  @apply border text-base text-center
}


/**scroball hiden*/
.scrollbar-none::-webkit-scrollbar{
  display: none;
}






